@import './base.css';

/* css text */
.text-center {
	text-align: center;
}

.text-wrap {
	word-wrap: normal;
}

.fw-400 {
	font-weight: 400;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-900 {
	font-weight: 900;
}

.uppercase {
	text-transform: uppercase;
}

/* end css text */

.btn {
	cursor: pointer;
}

/* css margin */
.m-1 {
	margin: 10px;
}

.m-2 {
	margin: 20px;
}

.m-3 {
	margin: 30px;
}

.m-4 {
	margin: 40px;
}

.m-5 {
	margin: 50px;
}

.ms-1 {
	margin-left: 10px;
}

.ms-2 {
	margin-left: 20px;
}

.ms-3 {
	margin-left: 30px;
}

.ms-4 {
	margin-left: 40px;
}

.ms-5 {
	margin-left: 50px;
}

.me-1 {
	margin-right: 10px;
}

.me-2 {
	margin-right: 20px;
}

.me-3 {
	margin-right: 30px;
}

.me-4 {
	margin-right: 40px;
}

.me-5 {
	margin-right: 50px;
}

.mx-1 {
	margin: 0 10px;
}

.mx-2 {
	margin: 0 20px;
}

.mx-3 {
	margin: 0 30px;
}

.mx-4 {
	margin: 0 40px;
}

.mx-5 {
	margin: 0 50px;
}

.my-1 {
	margin: 10px 0;
}

.my-2 {
	margin: 20px 0;
}

.my-3 {
	margin: 30px 0;
}

.my-4 {
	margin: 40px 0;
}

.my-5 {
	margin: 50px 0;
}

/* css margin */

/* css padding */
.p-1 {
	padding: 10px;
}

.p-2 {
	padding: 20px;
}

.p-3 {
	padding: 30px;
}

.p-4 {
	padding: 40px;
}

.p-5 {
	padding: 50px;
}

.ps-1 {
	padding-left: 10px;
}

.ps-2 {
	padding-left: 20px;
}

.ps-3 {
	padding-left: 30px;
}

.ps-4 {
	padding-left: 40px;
}

.ps-5 {
	padding-left: 50px;
}

.pe-1 {
	padding-right: 10px;
}

.pe-2 {
	padding-right: 20px;
}

.pe-3 {
	padding-right: 30px;
}

.pe-4 {
	padding-right: 40px;
}

.pe-5 {
	padding-right: 50px;
}

.px-1 {
	padding: 0 10px;
}

.px-2 {
	padding: 0 20px;
}

.px-3 {
	padding: 0 30px;
}

.px-4 {
	padding: 0 40px;
}

.px-5 {
	padding: 0 50px;
}

.py-1 {
	padding: 10px 0;
}

.py-2 {
	padding: 20px 0;
}

.py-3 {
	padding: 30px 0;
}

.py-4 {
	padding: 40px 0;
}

.py-5 {
	padding: 50px 0;
}

/* end css padding */


/* css display */
.d-block {
	display: block;
}

.d-inline {
	display: inline;
}

.d-none {
	display: none;
}

/* end css display */

/* css flex */

.d-flex {
	display: flex;
	box-sizing: border-box;
}

.g5 {
	gap: 5px;
}

.g10 {
	gap: 10px;
}

.g15 {
	gap: 15px;
}

.g20 {
	gap: 20px;
}

.flex-wrap {
	flex-wrap: wrap;
}

.justify-content-start {
	justify-content: start;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-evenly {
	justify-content: space-evenly;
}

.justify-content-end {
	justify-content: end;
}

.align-items-start {
	align-items: flex-start;
}

.align-items-center {
	align-items: center;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-end {
	align-items: flex-end;
}

/*end css flex */

/* css img */
.img-fluid {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}

/* end css img */

/* css container */
.container {
	max-width: 1320px;
	margin: 0 auto;
}

/* css container */
@media (max-width: 575.98px) {
	.container {
		max-width: 100%;
		margin: 0 auto;
	}
}

/* Small devices (màn hình nhỏ, ví dụ: điện thoại dọc) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.container {
		max-width: 540px;
		margin: 0 auto;
	}
}

/* Medium devices (tablet và một số màn hình nhỏ hơn) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.container {
		max-width: 720px;
		margin: 0 auto;
	}
}

/* Large devices (laptop và màn hình lớn hơn) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container {
		max-width: 960px;
		margin: 0 auto;
	}
}

/* Extra large devices (màn hình rất lớn) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
	.container {
		max-width: 1140px;
		margin: 0 auto;
	}
}

@media (min-width: 1400px) {
	.container {
		max-width: 1320px;
		margin: 0 auto;
	}
}